In [102]:
import numpy as np 
import pandas as pd
df = pd.read_csv(r'Notebook\Data\df_final.csv')

	Unnamed: 0	id	Locality	Postcode	Street	Number	Type_of_property	Subtype_of_property	Price	Type_of_sale	Number_of_rooms	Living_area	Fully_equipped_kitchen	Furnished	Open_fire	Terrace	Terrace_area	Garden	Garden_area	Surface_of_the_land	Surface_area_of_the_plot_of_land	Number_of_facades	 Swimming_pool	State_of_the_building

In [103]:
df = df.replace('No info', pd.NA)  # Replace 'no info' with NaN
df = df.dropna()  # Drop rows with NaN values
df.shape

(3070, 25)

In [104]:
df.apply(lambda row: row.astype(str).str.contains('no info').any(), axis=1)

0       False
1       False
2       False
3       False
4       False
        ...
3341    False
3342    False
3343    False
3344    False
3345    False
Length: 3070, dtype: bool

In [105]:
df.head()

,Unnamed: 0.1,Unnamed: 0,id,Locality,Postcode,Street,Number,Type_of_property,Subtype_of_property,Price,...,Open_fire,Terrace,Terrace_area,Garden,Garden_area,Surface_of_the_land,Surface_area_of_the_plot_of_land,Number_of_facades,Swimming_pool,State_of_the_building
0,1,1,10686030,Seraing,4100,Place Merlot,6,HOUSE,HOUSE,199000,...,No,Yes,108,Yes,28,229,104,2,No,GOOD
1,2,2,10686027,Lede,9340,Hoogstraat,20,HOUSE,VILLA,539000,...,No,Yes,60,No,0,911,541,4,No,AS_NEW
2,6,6,10683651,Trooz,4870,Grand rue,191,HOUSE,HOUSE,160000,...,No,Yes,14,No,0,116,14,3,No,TO_RENOVATE
3,7,7,10683687,Bruxelles,1000,Square Ambiorix,40,HOUSE,HOUSE,250000,...,No,No,0,No,0,17,58,2,No,TO_RESTORE
4,8,8,10685116,Hotton,6990,Rue Simon,46/2,HOUSE,APARTMENT_BLOCK,325000,...,No,No,0,No,0,122,113,2,No,GOOD

In [106]:
X_ = df.drop(columns=["Unnamed: 0.1", "Unnamed: 0","id","Locality","Type_of_sale", "Postcode",	"Street"	, "Number",	"Type_of_property",	"Subtype_of_property","Price","Type_of_property","Fully_equipped_kitchen","Furnished","Garden","Open_fire","Terrace"," Swimming_pool", "State_of_the_building" ])
features = X_.columns
X = X_.to_numpy()
y = df.Price.to_numpy().reshape(-1 , 1)

In [107]:
print(features)

Index(['Number_of_rooms', 'Living_area', 'Terrace_area', 'Garden_area',
       'Surface_of_the_land', 'Surface_area_of_the_plot_of_land',
       'Number_of_facades'],
      dtype='object')

In [108]:
df['Number_of_rooms']=df['Number_of_rooms'].astype(float)
df['Living_area']=df['Living_area'].astype(float)
df['Terrace_area']=df['Terrace_area'].astype(float)
df['Number_of_rooms']=df['Number_of_rooms'].astype(float)
df['Surface_of_the_land']=df['Surface_of_the_land'].astype(float)
df['Surface_area_of_the_plot_of_land']=df['Surface_area_of_the_plot_of_land'].astype(float)
df['Number_of_facades']=df['Number_of_facades'].astype(float)

In [109]:
print("X shape : ", X.shape)
print("y shape : ", y.shape)

X shape :  (3070, 7)
y shape :  (3070, 1)

In [110]:
# Splitting the dataset into the Training set and Test set
import sklearn
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [111]:
print("Shape of X_train: ", X_train.shape)
print("Shape of X_test: ", X_test.shape)
print("Shape of y_train: ", y_train.shape)
print("Shape of y_test: ", y_test.shape)

Shape of X_train:  (2456, 7)
Shape of X_test:  (614, 7)
Shape of y_train:  (2456, 1)
Shape of y_test:  (614, 1)

In [112]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [113]:
X

array([[4, 125, 108, ..., '229', '104', '2'],
       [4, 370, 60, ..., '911', '541', '4'],
       [2, 130, 14, ..., '116', '14', '3'],
       ...,
       [10, 900, 20, ..., '13081', '12181', '4'],
       [10, 900, 20, ..., '13081', '12181', '4'],
       [4, 247, 0, ..., '494', '247', '4']], dtype=object)

In [114]:
regressor.fit(X_train,y_train)

LinearRegression()

In [115]:
regressor.score(X_train, y_train)

0.3502477238246422