In [3]:
import numpy as np 
import pandas as pd
df = pd.read_csv(r'Data\df_final.csv')

	Unnamed: 0	id	Locality	Postcode	Street	Number	Type_of_property	Subtype_of_property	Price	Type_of_sale	Number_of_rooms	Living_area	Fully_equipped_kitchen	Furnished	Open_fire	Terrace	Terrace_area	Garden	Garden_area	Surface_of_the_land	Surface_area_of_the_plot_of_land	Number_of_facades	 Swimming_pool	State_of_the_building

In [4]:
df.shape

(5181, 25)

In [5]:
df.head()

,Unnamed: 0.1,Unnamed: 0,id,Locality,Postcode,Street,Number,Type_of_property,Subtype_of_property,Price,...,Open_fire,Terrace,Terrace_area,Garden,Garden_area,Surface_of_the_land,Surface_area_of_the_plot_of_land,Number_of_facades,Swimming_pool,State_of_the_building
0,1,1,10686030,Seraing,4100,Place Merlot,6,HOUSE,HOUSE,199000,...,No,Yes,108,Yes,28,229,104,2,No,GOOD
1,2,2,10686027,Lede,9340,Hoogstraat,20,HOUSE,VILLA,539000,...,No,Yes,60,No,0,911,541,4,No,AS_NEW
2,6,6,10683651,Trooz,4870,Grand rue,191,HOUSE,HOUSE,160000,...,No,Yes,14,No,0,116,14,3,No,TO_RENOVATE
3,7,7,10683687,Bruxelles,1000,Square Ambiorix,40,HOUSE,HOUSE,250000,...,No,No,0,No,0,17,58,2,No,TO_RESTORE
4,8,8,10685116,Hotton,6990,Rue Simon,46/2,HOUSE,APARTMENT_BLOCK,325000,...,No,No,0,No,0,122,113,2,No,GOOD

In [6]:
houses_df = df[df['Type_of_property'] == 'HOUSE']

In [7]:
houses_df.shape

(3346, 25)

In [8]:
# Function to check if a value is "No info"
def has_no_info(value):
    return value != 'No info'

# Apply the function to all cells in the DataFrame
houses_df_cleaned = houses_df[houses_df.applymap(has_no_info).all(axis=1)]

In [9]:
houses_df_cleaned.shape

(3070, 25)

In [10]:
# Find columns with "No info" values
columns_with_no_info = houses_df_cleaned.columns[houses_df_cleaned.isin(['No info']).any()]

# Count occurrences of "No info" in each column
count_no_info = houses_df_cleaned[columns_with_no_info].apply(lambda col: col.eq('No info').sum())

# Output the results
print("Columns with 'No info' values:")
print(columns_with_no_info)

print("\nCount of 'No info' occurrences in each column:")
print(count_no_info)

Columns with 'No info' values:
Index([], dtype='object')

Count of 'No info' occurrences in each column:
Series([], dtype: float64)

In [11]:
x_h = houses_df_cleaned.drop(columns=["Unnamed: 0.1", "Unnamed: 0","id","Locality","Type_of_sale", "Postcode",	"Street",'Type_of_property'	, "Number",	"Subtype_of_property","Price","Fully_equipped_kitchen","Furnished","Garden","Open_fire","Terrace"," Swimming_pool", "State_of_the_building",'Garden' ])
features_h = x_h.columns
x_h = x_h.to_numpy()
y_h = houses_df_cleaned.Price.to_numpy().reshape(-1 , 1)

In [12]:
x_h.shape

(3070, 7)

In [13]:
y_h.shape

(3070, 1)

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR


def training_testing_scores(x_data, y_data):
    x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, random_state=42)
    train_list = []
    test_list=[]
    for regressor in [DecisionTreeRegressor(max_depth=10),LinearRegression(), SVR(kernel='linear', C=1.0)]: 
     regressor.fit(x_train,y_train)
     train_score = regressor.score(x_train, y_train)
     test_score =regressor.score(x_test, y_test)
     train_list.append(train_score)
     test_list.append(test_score)

    return train_list, test_list

In [27]:
training_testing_scores(x_h,y_h)

(0.3620541942314348, 0.3211490221226624)

In [16]:
apartments_df = df[df['Type_of_property'] == 'APARTMENT']
apartments_df = apartments_df.drop(['Surface_of_the_land', 'Surface_area_of_the_plot_of_land'], axis=1)

In [17]:
# Find columns with "No info" values
columns_with_no_info = apartments_df.columns[apartments_df.isin(['No info']).any()]

# Count occurrences of "No info" in each column
count_no_info = apartments_df[columns_with_no_info].apply(lambda col: col.eq('No info').sum())

# Output the results
print("Columns with 'No info' values:")
print(columns_with_no_info)

print("\nCount of 'No info' occurrences in each column:")
print(count_no_info)

Columns with 'No info' values:
Index(['Number', 'Fully_equipped_kitchen', 'State_of_the_building'], dtype='object')

Count of 'No info' occurrences in each column:
Number                     18
Fully_equipped_kitchen    286
State_of_the_building      78
dtype: int64

In [18]:
# Function to check if a value is "No info"
def has_no_info(value):
    return value != 'No info'

# Apply the function to all cells in the DataFrame
apartments_df_cleaned = apartments_df[apartments_df.applymap(has_no_info).all(axis=1)]

In [19]:
apartments_df_cleaned.shape

(1522, 23)

In [20]:
apartments_df_cleaned.isna().sum().sum()

0

In [21]:
x_a = apartments_df_cleaned.drop(columns=["Unnamed: 0.1", "Unnamed: 0","id","Locality","Type_of_sale", "Postcode",	"Street",'Type_of_property'	, "Number",	"Subtype_of_property","Price","Fully_equipped_kitchen","Furnished","Garden","Open_fire","Terrace"," Swimming_pool", "State_of_the_building" ,'Garden','Number_of_facades'])
features_a = x_a.columns
x_a = x_a.to_numpy()
y_a = apartments_df_cleaned.Price.to_numpy().reshape(-1 , 1)

In [22]:
print(features_a)

Index(['Number_of_rooms', 'Living_area', 'Terrace_area', 'Garden_area'], dtype='object')

In [28]:
training_testing_scores(x_a,y_a)

(0.5383943284792463, 0.4947574564069118)