In [10]:
import numpy as np 
import pandas as pd
df = pd.read_csv(r'..\Data\df_final.csv')

	Unnamed: 0	id	Locality	Postcode	Street	Number	Type_of_property	Subtype_of_property	Price	Type_of_sale	Number_of_rooms	Living_area	Fully_equipped_kitchen	Furnished	Open_fire	Terrace	Terrace_area	Garden	Garden_area	Surface_of_the_land	Surface_area_of_the_plot_of_land	Number_of_facades	 Swimming_pool	State_of_the_building

In [11]:
df = df.replace('No info', pd.NA)  # Replace 'no info' with NaN
df = df.dropna()  # Drop rows with NaN values
df.shape

(3070, 25)

In [12]:
df.apply(lambda row: row.astype(str).str.contains('no info').any(), axis=1)

0       False
1       False
2       False
3       False
4       False
        ...
3341    False
3342    False
3343    False
3344    False
3345    False
Length: 3070, dtype: bool

In [13]:
df.head()

,Unnamed: 0.1,Unnamed: 0,id,Locality,Postcode,Street,Number,Type_of_property,Subtype_of_property,Price,...,Open_fire,Terrace,Terrace_area,Garden,Garden_area,Surface_of_the_land,Surface_area_of_the_plot_of_land,Number_of_facades,Swimming_pool,State_of_the_building
0,1,1,10686030,Seraing,4100,Place Merlot,6,HOUSE,HOUSE,199000,...,No,Yes,108,Yes,28,229,104,2,No,GOOD
1,2,2,10686027,Lede,9340,Hoogstraat,20,HOUSE,VILLA,539000,...,No,Yes,60,No,0,911,541,4,No,AS_NEW
2,6,6,10683651,Trooz,4870,Grand rue,191,HOUSE,HOUSE,160000,...,No,Yes,14,No,0,116,14,3,No,TO_RENOVATE
3,7,7,10683687,Bruxelles,1000,Square Ambiorix,40,HOUSE,HOUSE,250000,...,No,No,0,No,0,17,58,2,No,TO_RESTORE
4,8,8,10685116,Hotton,6990,Rue Simon,46/2,HOUSE,APARTMENT_BLOCK,325000,...,No,No,0,No,0,122,113,2,No,GOOD

In [14]:
X_ = df.drop(columns=["Unnamed: 0.1", "Unnamed: 0","id","Locality","Type_of_sale", "Postcode",	"Street"	, "Number",	"Type_of_property",	"Subtype_of_property","Price","Type_of_property","Fully_equipped_kitchen","Furnished","Garden","Open_fire","Terrace"," Swimming_pool", "State_of_the_building" ])
features = X_.columns
X = X_.to_numpy()
y = df.Price.to_numpy().reshape(-1 , 1)

In [15]:
print(features)

Index(['Number_of_rooms', 'Living_area', 'Terrace_area', 'Garden_area',
       'Surface_of_the_land', 'Surface_area_of_the_plot_of_land',
       'Number_of_facades'],
      dtype='object')

In [16]:
df['Number_of_rooms']=df['Number_of_rooms'].astype('float64')
df['Living_area']=df['Living_area'].astype('float64')
df['Terrace_area']=df['Terrace_area'].astype('float64')
df['Number_of_rooms']=df['Number_of_rooms'].astype('float64')
df['Surface_of_the_land']=df['Surface_of_the_land'].astype('float64')
df['Surface_area_of_the_plot_of_land']=df['Surface_area_of_the_plot_of_land'].astype('float64')
df['Number_of_facades']=df['Number_of_facades'].astype('float64')

In [17]:
print("X shape : ", X.shape)
print("y shape : ", y.shape)

X shape :  (3070, 7)
y shape :  (3070, 1)

In [ ]:
list=['Number_of_rooms','Living_area', 'Terrace_area','Number_of_rooms','Surface_of_the_land',

df['Living_area']=df['Living_area'].astype('float64')
df['Terrace_area']=df['Terrace_area'].astype('float64')
df['Number_of_rooms']=df['Number_of_rooms'].astype('float64')
df['Surface_of_the_land']=df['Surface_of_the_land'].astype('float64')
df['Surface_area_of_the_plot_of_land']=df['Surface_area_of_the_plot_of_land'].astype('float64')
df['Number_of_facades']=df['Number_of_facades'].astype('float64')

In [8]:
# for i in df:
#    df = df[df[i] <= (df[i].mean() - 2 * df[i].std())]
# print(df.head())

Empty DataFrame
Columns: [Unnamed: 0.1, Unnamed: 0, id, Locality, Postcode, Street, Number, Type_of_property, Subtype_of_property, Price, Type_of_sale, Number_of_rooms, Living_area, Fully_equipped_kitchen, Furnished, Open_fire, Terrace, Terrace_area, Garden, Garden_area, Surface_of_the_land, Surface_area_of_the_plot_of_land, Number_of_facades,  Swimming_pool, State_of_the_building]
Index: []

[0 rows x 25 columns]

In [22]:
def split_df_on_type(df):
    # df_house, df_apt = [x for _, x in df.groupby(df['Type_of_property'] == 'HOUSE')]
    #this could be another way to do it:
    df_house = df[df['Type_of_property'] == 'HOUSE']
    df_apt = df[df['Type_of_property'] == 'APARTMENT']
    return df_house, df_apt

In [23]:
print(df.head())
df_house, df_apt = split_df_on_type(df)
print(df_house.head())

   Unnamed: 0.1  Unnamed: 0        id    Locality  Postcode            Street  \
0             1           1  10686030     Seraing      4100     Place Merlot
1             2           2  10686027        Lede      9340       Hoogstraat
2             6           6  10683651       Trooz      4870        Grand rue
3             7           7  10683687  Bruxelles       1000  Square Ambiorix
4             8           8  10685116      Hotton      6990        Rue Simon

  Number Type_of_property Subtype_of_property   Price  ... Open_fire  Terrace  \
0      6            HOUSE               HOUSE  199000  ...        No      Yes
1     20            HOUSE               VILLA  539000  ...        No      Yes
2    191            HOUSE               HOUSE  160000  ...        No      Yes
3     40            HOUSE               HOUSE  250000  ...        No       No
4   46/2            HOUSE     APARTMENT_BLOCK  325000  ...        No       No

   Terrace_area Garden Garden_area Surface_of_the_land  \
0         108.0    Yes          28               229.0
1          60.0     No           0               911.0
2          14.0     No           0               116.0
3           0.0     No           0                17.0
4           0.0     No           0               122.0

  Surface_area_of_the_plot_of_land  Number_of_facades  Swimming_pool  \
0                            104.0                2.0             No
1                            541.0                4.0             No
2                             14.0                3.0             No
3                             58.0                2.0             No
4                            113.0                2.0             No

   State_of_the_building
0                   GOOD
1                 AS_NEW
2            TO_RENOVATE
3             TO_RESTORE
4                   GOOD

[5 rows x 25 columns]
   Unnamed: 0.1  Unnamed: 0        id    Locality  Postcode            Street  \
0             1           1  10686030     Seraing      4100     Place Merlot
1             2           2  10686027        Lede      9340       Hoogstraat
2             6           6  10683651       Trooz      4870        Grand rue
3             7           7  10683687  Bruxelles       1000  Square Ambiorix
4             8           8  10685116      Hotton      6990        Rue Simon

  Number Type_of_property Subtype_of_property   Price  ... Open_fire  Terrace  \
0      6            HOUSE               HOUSE  199000  ...        No      Yes
1     20            HOUSE               VILLA  539000  ...        No      Yes
2    191            HOUSE               HOUSE  160000  ...        No      Yes
3     40            HOUSE               HOUSE  250000  ...        No       No
4   46/2            HOUSE     APARTMENT_BLOCK  325000  ...        No       No

   Terrace_area Garden Garden_area Surface_of_the_land  \
0         108.0    Yes          28               229.0
1          60.0     No           0               911.0
2          14.0     No           0               116.0
3           0.0     No           0                17.0
4           0.0     No           0               122.0

  Surface_area_of_the_plot_of_land  Number_of_facades  Swimming_pool  \
0                            104.0                2.0             No
1                            541.0                4.0             No
2                             14.0                3.0             No
3                             58.0                2.0             No
4                            113.0                2.0             No

   State_of_the_building
0                   GOOD
1                 AS_NEW
2            TO_RENOVATE
3             TO_RESTORE
4                   GOOD

[5 rows x 25 columns]

In [24]:
df_house

,Unnamed: 0.1,Unnamed: 0,id,Locality,Postcode,Street,Number,Type_of_property,Subtype_of_property,Price,...,Open_fire,Terrace,Terrace_area,Garden,Garden_area,Surface_of_the_land,Surface_area_of_the_plot_of_land,Number_of_facades,Swimming_pool,State_of_the_building
0,1,1,10686030,Seraing,4100,Place Merlot,6,HOUSE,HOUSE,199000,...,No,Yes,108.0,Yes,28,229.0,104.0,2.0,No,GOOD
1,2,2,10686027,Lede,9340,Hoogstraat,20,HOUSE,VILLA,539000,...,No,Yes,60.0,No,0,911.0,541.0,4.0,No,AS_NEW
2,6,6,10683651,Trooz,4870,Grand rue,191,HOUSE,HOUSE,160000,...,No,Yes,14.0,No,0,116.0,14.0,3.0,No,TO_RENOVATE
3,7,7,10683687,Bruxelles,1000,Square Ambiorix,40,HOUSE,HOUSE,250000,...,No,No,0.0,No,0,17.0,58.0,2.0,No,TO_RESTORE
4,8,8,10685116,Hotton,6990,Rue Simon,46/2,HOUSE,APARTMENT_BLOCK,325000,...,No,No,0.0,No,0,122.0,113.0,2.0,No,GOOD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3341,9859,9859,10526196,Antwerpen,2018,"Mechelsesteenweg,",157,HOUSE,APARTMENT_BLOCK,499000,...,No,No,0.0,No,0,155.0,155.0,2.0,No,GOOD
3342,9861,9861,10399141,Seraing,4100,Rue Chapuis,24,HOUSE,MIXED_USE_BUILDING,499000,...,No,No,0.0,No,0,90.0,210.0,2.0,No,TO_BE_DONE_UP
3343,9862,9862,10559579,Gedinnne,5575,Rue de Charleville,19,HOUSE,HOUSE,499000,...,No,Yes,20.0,Yes,12631,13081.0,12181.0,4.0,No,TO_RENOVATE
3344,9863,9863,10336760,Gedinnne,5575,Rue de Charleville,19,HOUSE,MIXED_USE_BUILDING,499000,...,No,Yes,20.0,Yes,12631,13081.0,12181.0,4.0,No,TO_BE_DONE_UP
3345,9865,9865,10616061,Wondelgem,9032,Evergemsesteenweg,44A,HOUSE,HOUSE,499000,...,No,No,0.0,No,0,494.0,247.0,4.0,No,TO_BE_DONE_UP

In [21]:
# Splitting the dataset into the Training set and Test set
import sklearn
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [111]:
print("Shape of X_train: ", X_train.shape)
print("Shape of X_test: ", X_test.shape)
print("Shape of y_train: ", y_train.shape)
print("Shape of y_test: ", y_test.shape)

Shape of X_train:  (2456, 7)
Shape of X_test:  (614, 7)
Shape of y_train:  (2456, 1)
Shape of y_test:  (614, 1)

In [22]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [25]:
print(X_train.dtype)

float64

In [114]:
regressor.fit(X_train,y_train)

LinearRegression()

In [115]:
regressor.score(X_train, y_train)

0.3502477238246422